.box__ResetPassword{
    font-family: 'Roboto', sans-serif;

}

.box__ResetPassword .card_box {
    box-shadow: 0 3px 3px 3px hsl(245, 75%, 52%, 0.25);
}

.box__ResetPassword .btn-primary {
    background-color: #3b97d3

}